body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc; 
    background-color: white; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

th, td {
    padding: 5px; 
    border-bottom: 1px solid #ccc; 
}

.h2{background-color: #00b3ff;
    color: white;}

.contacto-foto img {
    max-width: 150px; 
    height: auto;
    display: block;
    margin: auto; 
    border-radius: 50%;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Estilo para el navbar*/
.navbar {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar h1 {
    margin: 0;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-item a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar-principal a:hover {
    color: #cceeff;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #007bff;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #007bff;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #007bff;
  }
  



